src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34c36dba-0b9b-4a86-adf7-53d602abf92b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="4e1372e1-52f6-4338-84c4-c91587e83512" >
		<http:listener doc:name="Listener" doc:id="09621e98-afa8-4599-87ef-8821497264d7" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#[payload]" doc:name='"Before"' doc:id="f2e0b04e-9af2-4e3a-bb32-b2a9db0dbb9c" />
		<logger level="INFO" doc:name="Logger" doc:id="03f08a35-f24f-4fba-9ff3-daa76f3b840e" message="payload is check #[payload]"/>
		<validation:is-not-null doc:name="Is not null" doc:id="7de1f3bc-c60c-4607-9e78-1cec212056f9" value="#[payload]"/>
		<set-payload value="#[payload]" doc:name='"After" ' doc:id="70d41bc5-a4d7-4abc-9853-433ade6bcf14" />
		<set-payload value='#[output appliation/json --- {"hello":"world again"}]' doc:name="Set Payload" doc:id="d25b9eaf-8cab-4b0c-a244-d5c760a855c1" />
		<error-handler >
			
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a6859aca-a620-44ab-b098-844e70c5d314" >
			
							<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c5614dc7-a566-40d2-adc3-d103c0693da4" />
			
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
